.scroll::-webkit-scrollbar {
    height: 3px;
    background-color: #aaa;
}
.scroll::-webkit-scrollbar-thumb {
    background: #e50914;
}

.scroll {
    -ms-overflow-style: none;
    scrollbar-width: thin;
}
